[MASTER]
extension-pkg-whitelist=numpy

[MESSAGES CONTROL]
disable=C0111,R0903,R0913

[FORMAT]
max-line-length=88
indent-string='    '

[TYPECHECK]
generated-members=numpy.*

[DESIGN]
max-attributes=12
max-args=8
