[Unit]
Description=Cohezion Hourly Jobs Timer

[Timer]
OnCalendar=*-*-* *:15:00
Persistent=true
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
